<div class="slideshow">
    <div class="slide">
        <!-- slide 1 de slideshow -->
        <div class="bkgd" id="background" style=""></div>

        <div id="vp">
            <div id="vp2">
                <div id="superzone">
                    <div class="imgzone"><img id="zone-isolated" src=""/></div>
                    <ul class="buttonsmenu">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>
                            <a>
                                <img id="titre" src=""/>
                            </a>
                        </li>
                        <li></li>
                        <li>
                            <a onclick="goToIntro()">
                                <img id="back-to-intro" src=""/>
                                <div><img id="back-to-intro-hover" src="" title="Relancer le clip d'intro"/></div>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>

                    </ul>
                    <ul class="lb-album">
                        <li class="main-menu-section">
                            <a href="dvd-1.html" onClick="">
                                <img class="main-menu-section-poster" alt="image01" src="" />
                                <div><img class="main-menu-section-play" alt="play" src="" /></div>
                                <span class="main-menu-section-title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Controller import -->
<script type="text/javascript" src="source/components/main-menu/main-menu.js"></script>
