videos/
APV2012/
encoder/test
encoder/tmp.*/
01-Projs_JTX/
02-Vie_de_promo/
03-Evenements/
04-Interviews/
05-Binets/
06-Sections/
07-Bonus/
source/js/utils/*.mp4
source/js/utils/*.mp3
*.log
*.mbtree
