body {
    background-color:black;
    background-repeat: repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    /*background-width: 100%;*/
    margin: 0px;
    height: 100%;
    max-width: 100%;
    text-align: center;
}
#container {
    text-align:center;
    height:100%;
}
#current-video{
    position:absolute;
    left:0px;
    height:100%;
    width:100%;
}
#alternat{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    width:400px;
    height:240px;
    background-color:lightgray;
    text-align:center;
    border-radius:30px;
    border-width:20px;
    border-style:solid;
    border-color: lightgray;
    box-shadow: 3px 3px 0px darkgray;
    font-family: Arial;
}
