<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Album Promo Vidéo 2013</title>
    <link href="../../css/main.css" rel="stylesheet" type="text/css">
    <!-- Chargement des librairies -->
    <script src="../../js/jquery.js" type="text/javascript"></script>
    <script src="../../js/pure.js" type="text/javascript"></script>
    <script src="../../js/queryString.js" type="text/javascript"></script>
    <!-- Chargement des données des images et vidéos -->
    <script src="../../data/display.js" type="text/javascript"></script>
    <script src="../../data/videos.js" type="text/javascript"></script>
</head>

<body>

    <div class="slideshow">
        <div class="slide">
            <!-- slide 1 de slideshow -->
            <div class="bkgd" id="background" style=""></div>

            <div id="vp">
                <div id="vp2">
                    <div id="superzone">
                        <div class="imgzone"><img id="zone-isolated" src="" /></div>
                        <ul class="buttonsmenu">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li>
                                <a>
                                    <img id="titre" src="" />
                                </a>
                            </li>
                            <li>
                                <a id="prevMenu">
                                    <img id="prevMenuImg"/>
                                    <div>
                                        <img id="prevMenuImg_hover" title="Retour au menu précédent"/>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a onclick="goToIntro()">
                                    <img id="back-to-intro" src="" />
                                    <div><img id="back-to-intro-hover" src="" title="Relancer le clip d'intro" /></div>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>

                        </ul>
                        <div class="lb-album">
                            <div style="position:relative;float:left;display:block;top:5%;bottom:5%;text-align:center;width:25%;height:90%;overflow:auto;line-height:3.5em">
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline">
                                    Président
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Denis Merigoux
                                </div>
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline;">
                                    Trésorière
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Louise Koskas
                                </div>
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline;">
                                    Respo facho
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Augustin Lenormand
                                </div>
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline">
                                    Respo trailer
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Marc Szafraniec
                                </div>
                            </div>
                            <img id="apj" style="height:96%" alt="Photo de l'équipe de l'APV">
                            <div style="position:relative;float:right;display:block;top:5%;bottom:5%;height:90%;text-align:center;width:25%;overflow:auto;line-height:3.5em">
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline;">
                                    Relations extérieures
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Louis Legrand
                                </div>
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline;">
                                    Cellule Interviews
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Marie-Apolline Barbara<br>Antoine Devulder
                                </div>
                                <div style="font-size:3em;font-family:textFont;text-decoration:underline;">
                                    Respo design
                                </div>
                                <div style="font-size:3em;font-family:textFont;font-weight:bold">
                                    Guillaume Genestier
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

<!-- Controller import -->
<script src="credits.js" type="text/javascript"></script>

</html>
